$text-color: #4D4C49;
$btn-color: #4D4C49;
$nav-link-color: #4D4C49;
$bth-bg: #4D4C49;
$statistic-text-color: #818181;

$sticky-header-bg: #ffffff;

$btn-hover-color: #393737;
$btn-text-light: #ffffff;

$portfolio-text-color: #ffffff;
$portfolio-hover-bg: #35353521;

$attach-search-color:  rgba(0,0,0,0.5);

$slider-bg-color: #494A4D;
$slider-quote-text: #ffffff;
$slider-btn-bg: #ffffff;

$contacts-bg-color: #f8f8f8;
$contacts-form-bg: #ffffff;

$list-mark-color: #4D4949;
$list-mark-bg: #ffffff;
$contacts-steps-border: #dddddd;

$default-input-color: #DCDCDC;
$selected-input-color: #4D4949;
$invalid-input-color: #F06786;
$footer-background-color: #f8f8f8;
$search-input-color: #4D4949;
$search-input-bg: #ffffff;

$post-bg-color: #FCF6F6;
$play-mini-border: #ffffff;

$quote-border-color: #E6E6E6;
$grey-line-color: #dddddd;

$review-border-color: #dddddd;
$review-border-bg: #ffffff;

$aside-bg-color: #FCF6F6;
$aside-title-border: #E6E6E6;

$search-border-color: #e6e6e6;
$search-bg-hover: #f8f8f8;