
@font-face { 
    font-family: 'Hind Siliguri'; 
    src: url("../fonts/Hind_Siliguri/HindSiliguri-Light.woff2") format('woff2'),
         url("../fonts/Hind_Siliguri/HindSiliguri-Light.woff") format('woff'); 
    font-weight: 300; 
    font-style: normal; 
}

@font-face { 
    font-family: 'Hind Siliguri'; 
    src: url("../fonts/Hind_Siliguri/HindSiliguri-Regular.woff2") format('woff2'),
         url("../fonts/Hind_Siliguri/HindSiliguri-Regular.woff") format('woff'); 
    font-weight: 400; 
    font-style: normal;
} 
 
@font-face { 
    font-family: 'Hind Siliguri'; 
    src: url("../fonts/Hind_Siliguri/HindSiliguri-Medium.woff2") format('woff2'),
         url("../fonts/Hind_Siliguri/HindSiliguri-Medium.woff") format('woff'); 
    font-weight: 500; 
    font-style: normal;
} 
 
@font-face { 
    font-family: 'Hind Siliguri'; 
    src: url("../fonts/Hind_Siliguri/HindSiliguri-SemiBold.woff2") format('woff2'),
         url("../fonts/Hind_Siliguri/HindSiliguri-SemiBold.woff") format('woff'); 
    font-weight: 600; 
    font-style: normal;
} 
 
@font-face { 
    font-family: 'Hind Siliguri'; 
    src: url("../fonts/Hind_Siliguri/HindSiliguri-Bold.woff2") format('woff2'),
         url("../fonts/Hind_Siliguri/HindSiliguri-Bold.woff") format('woff'); 
    font-weight: 700; 
    font-style: normal; 
}