@import '_variables-blog', '_extends-blog', '_colors-blog';

@mixin dark-btn{
    @extend %btn-format;
    color: $btn-text-light;
    background-color: $bth-bg;
    &:hover{
    background-color: $btn-hover-color;
    }
}
@mixin transparent-btn{
    @extend %btn-format;
    color: $btn-color;
    background-color: transparent;
    &:hover{
        background-color: $btn-hover-color;
        color: $btn-text-light;
        }
}
