
$bg-img: url('../assets/img-blog/webp/header_bg-min.webp');

$dark-cursor: url('../assets/icons-blog/dark-cursor.svg'), pointer;
$light-cursor: url('../assets/icons-blog/light-cursor.svg'), pointer;
$grey-cursor: url('../assets/icons-blog/grey-cursor.svg'), pointer;

$video-img: url('../assets/img-blog/webp/video_bg.webp') no-repeat;

$video-play-btn: url('../assets/icons-blog/a-icon-play.svg') no-repeat;

$art-ocean-bg: url('../assets/img-blog/webp/bg-img-1.webp') no-repeat;
$city-guide-bg: url('../assets/img-blog/webp/bg-img-2.webp') no-repeat;
$mountains-bg: url('../assets/img-blog/webp/bg-img-3.webp') no-repeat;

$testimonials-bg: url('../assets/img-blog/webp/Bg-testimonial.webp') no-repeat;
$video-min-bg: url('../assets/img-blog/images-min/Imgage-post-1-min.png') no-repeat;

$like-icon: url('../assets/icons-blog/a-icon-like-2.svg') no-repeat;
$like-icon-hover: url('../assets/icons-blog/a-icon-like-hover.svg') no-repeat;

$icon-search: url('../assets/icons-blog/a-icon-search-2.svg') no-repeat;

$jack-photo: url('../assets/img-blog/Jack.png');
$emma-photo: url('../assets/img-blog/Emma.png');
$ann-photo: url('../assets/img-blog/Ann.png');

$star-full: url('../assets/icons-blog/Star-1.svg') no-repeat;
$star-half: url('../assets/icons-blog/star-half.svg') no-repeat;
$star-empty: url('../assets/icons-blog/Star-2.svg') no-repeat;