@import '_bootstrap-grid.scss', '_common-blog', '_variables-blog.scss', '_mixins-blog', '_extends-blog';

.article {
    margin-top: -34px;

    &__title {
        font-size: $fsz1;
        font-weight: $fw2;
        line-height: 37px;
        padding-right: 20px;
        margin-bottom: 25px;
    }

    &__author-statistic {
        transform: translate(0, -2px);
    }

    &__author {
        margin-bottom: 16px;
    }

    &__img {
        transform: translate(-1px, 0);
        margin-bottom: 8px;
    }

    &__audio {
        margin-bottom: 9px;
    }

    &__text {
        font-size: $fsz4;
        line-height: 26px;
        margin-bottom: 20px;
        padding-right: 5px;
    }

    &__subtitle {
        padding-top: 15px;
        font-size: $fsz2;
        font-weight: $fw2;
        margin-bottom: 12px;
    }

    &__quote {
        padding: 6px 25px;
        border-left: 5px solid $quote-border-color;
        font-weight: $fw5;
        font-size: $fsz4;
        line-height: 26px;
        padding-right: 130px;
        margin-bottom: 24px;
    }

    &__soc-media {
        padding: 30px 0 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__like-icon {
        transform: translate(0, -2px);
        width: 24px;
        height: 24px;
        display: inline-block;
        background: $like-icon;

        &:hover {
            background: $like-icon-hover;
            cursor: $dark-cursor;
        }
    }

    &__likes-count {
        font-size: $fsz5;
        transform: translate(7px, -4px);
        display: inline-block;
    }
    &__links-wrap{
        transform: translate(-6px, 0);
        gap: 30px;
    }
    &__grey-line {
        background: $grey-line-color;
        width: 660px;
        height: 1px;
        margin-bottom: 21px;
    }

    &__review-wrap {
        position: relative;
        .custom-border {
            position: absolute;
            top: -30px;
            left: 39px;
            height: 830px;
            width: 2px;
            border: 1px solid $review-border-color;
            background: $review-border-bg;

            &__circle {
                @extend .custom-border;
                width: 16px;
                height: 16px;
                border-radius: 50%;

                &_1 {
                    transform: translate(-47px, 13px);
                }

                &_2 {
                    transform: translate(-47px, 850px);
                }
            }
        }
    }

    &__review {
        width: 551px;
        background: $post-bg-color;
        position: relative;

    }

    &__posts-wrap {
        margin-top: 65px;
        margin-left: 95px;
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    &__more-comments {
        margin: 106px 0 80px;
    }

    &__more-btn {
        transform: translate(42px, 0);
    }
}

.review {
    padding: 10px 20px;
    border-radius: 5px;

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__author {
        font-size: $fsz4;
        font-weight: $fw3;
    }

    &__text {
        font-size: $fsz5;
        line-height: 25px;
        margin: 10px 0 18px;
    }

    &__read {
        display: flex;
        flex-direction: row-reverse;
        transform: translate(0, -5px);
    }
    &__read-btn{
        border: none;
        background: none;
        font-weight: $fw3;
        font-size: $fsz5;
        text-decoration: underline;
    }

    &__time {
        font-size: $fsz5;
        font-weight: $fw5;
        transform: translate(0, 4px);
    }

    &__time-icon {
        transform: translate(-7px, 2px);
    }

    &__rate {
        display: inline-flex;
        transform: translate(-2px, 2px);
        gap: 2px;
    }

    &_jack {
        height: 169px;
    }

    &_emma {
        height: 319px;
    }

    &_ann {
        height: 133px;
    }
}

.aside {
    padding-top: 137px;
    padding-left: 10px;

    &__item {
        width: 460px;
        background: $aside-bg-color;
        padding: 30px;
        transform: translate(-1px, 0);
        margin-bottom: 70px;
    }

    &__title {
        font-size: $fsz2;
        font-weight: $fw2;
        line-height: 39px;
        padding-bottom: 4px;
        border-bottom: 1px solid $aside-title-border;
        margin-bottom: 30px;
    }
}

.latests-post {
    &__post {
        width: 460px;
        height: 150px;
        margin-bottom: 30px;
        display: grid;
        gap: 15px;
        align-items: center;
        grid-template-columns: 160px 1fr;
        height: 150px;
    }

    &__img {
        display: block;
    }

    &__description {
        display: block;
        text-decoration: none;
        font-size: $fsz4;
        font-weight: $fw3;
        line-height: 23px;
        margin-bottom: 15px;
        &:hover{
            cursor: $dark-cursor;
        }
    }

    &__statistic {
        transform: translate(0, 6px);
    }

    &__more {
        display: flex;
        justify-content: flex-end;

    }
}

.categories {
    padding-bottom: 1px;

    &__item {
        transform: translate(6px, 2px);
        margin-bottom: 5px;

        &_4 {
            transform: translate(6px, -4px);
        }

        &_5 {
            transform: translate(6px, -10px);
        }
    }

    &__category {
        display: block;
        font-size: $fsz4;
        margin-bottom: 22px;
    }
}

.menu {
    &__title {
        display: flex;
        justify-content: space-between;
        width: 98%;
        padding-bottom: 5px;
        border-bottom: 1px solid $aside-title-border;

        &:hover {
            cursor: $grey-cursor;
        }
    }

    &__list {
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__arrow {
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid grey;
        transform: rotate(45deg);
        border-left: none;
        border-top: none;
    }

    &__link {
        font-size: $fsz5;
        font-weight: $fw3;
        text-decoration: none;

        &:hover {
            font-weight: $fw2;
            cursor: $dark-cursor;
        }
    }
}

.default-check:checked~.menu__title {
    border: none;
}

.default-check:checked~.menu__title .menu__arrow {
    transform: rotate(225deg);
    position: relative;
    top: 10px;
}

.default-check:checked~.menu__title~.menu__list {
    height: 84px;
    margin: 7px 0 30px;
}

.tags {
    &__wrap {
        width: 415px;
    }

    &__item {
        display: inline-block;
        margin-right: 13px;
        margin-bottom: 15px;
    }

    &__item {
        @extend .light-btn;
        padding: 5px 15px;
    }
}